# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.eggs/
*.egg
pip-log.txt
pip-delete-this-directory.txt

# Environment
.env
.env.*

# macOS
.DS_Store

# VS Code / IDE
.vscode/
.idea/
